[workspace]
members = [
    "../accounts-db/store-tool",
    "../banking-bench",
    "../bench-tps",
    "../dos",
    "../ledger-tool",
]

resolver = "2"

[workspace.package]
version = "4.0.0-alpha.0"
authors = ["Trezoa-team Maintainers <maintainers@trezoa.xyz>"]
description = "Blockchain, Rebuilt for Scale"
repository = "https://github.com/trezoa-xyz/trezoa"
homepage = "https://trezoa.xyz/"
license = "Apache-2.0"
edition = "2021"

[workspace.lints.rust]
# List of rust-2024-compatibility lints that are already satisfied
# See https://doc.rust-lang.org/rustc/lints/groups.html
boxed_slice_into_iter = "deny"
dependency_on_unit_never_type_fallback = "deny"
deprecated_safe_2024 = "deny"
impl_trait_overcaptures = "deny"
missing_unsafe_on_extern = "deny"
never_type_fallback_flowing_into_unsafe = "deny"
rust_2024_guarded_string_incompatible_syntax = "deny"
rust_2024_incompatible_pat = "deny"
rust_2024_prelude_collisions = "deny"
static_mut_refs = "deny"
unsafe_attr_outside_unsafe = "deny"
unsafe_op_in_unsafe_fn = "deny"

[workspace.lints.rust.unexpected_cfgs]
level = "warn"
check-cfg = [
    'cfg(target_os, values("trezoa"))',
    'cfg(feature, values("frozen-abi", "no-entrypoint"))',
]

# Clippy lint configuration that can not be applied in clippy.toml
[workspace.lints.clippy]
arithmetic_side_effects = "deny"
default_trait_access = "deny"
manual_let_else = "deny"
used_underscore_binding = "deny"

[workspace.dependencies]
trezoa-banking-stage-ingress-types = { path = "../banking-stage-ingress-types", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-feature-set = { path = "../feature-set", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-logger = { path = "../logger", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-reserved-account-keys = { path = "../reserved-account-keys", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-snapshots = { path = "../snapshots", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-syscalls = { path = "../syscalls", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
ahash = "0.8.11"
assert_cmd = "2.0"
assert_matches = "1.5.0"
bincode = "1.3.3"
bs58 = { version = "0.5.1", default-features = false }
chrono = { version = "0.4.42", default-features = false }
clap = "2.33.1"
crossbeam-channel = "0.5.15"
csv = "1.4.0"
dashmap = "5.5.3"
futures = "0.3.31"
histogram = "0.6.9"
itertools = "0.14.0"
jemallocator = { package = "tikv-jemallocator", version = "0.6.0", features = [
    "unprefixed_malloc_on_supported_platforms",
] }
log = "0.4.28"
num_cpus = "1.17.0"
pretty-hex = "0.4.1"
rand = "0.9.2"
rayon = "1.11.0"
regex = "1.12.2"
serde = { version = "1.0.228", features = ["derive"] }
serde_bytes = "0.11.19"
serde_json = "1.0.149"
serde_yaml = "0.9.34"
serial_test = "3.2.0"
signal-hook = "0.4.1"
trezoa-account = "3.3.0"
trezoa-account-decoder = { path = "../account-decoder", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-accounts-db = { path = "../accounts-db", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-bench-tps = { path = "../bench-tps", version = "=4.0.0-alpha.0" }
trezoa-bpf-loader-program = { path = "../programs/bpf_loader", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-clap-utils = { path = "../clap-utils", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-cli-config = { path = "../cli-config", version = "=4.0.0-alpha.0" }
trezoa-cli-output = { path = "../cli-output", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-client = { path = "../client", version = "=4.0.0-alpha.0" }
trezoa-clock = "3.0.0"
trezoa-cluster-type = "3.0.0"
trezoa-commitment-config = "3.0.0"
trezoa-compute-budget = { path = "../compute-budget", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-compute-budget-interface = "3.0.0"
trezoa-connection-cache = { path = "../connection-cache", version = "=4.0.0-alpha.0", default-features = false, features = ["trezoa-unstable-api"] }
trezoa-core = { path = "../core", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-cost-model = { path = "../cost-model", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-entry = { path = "../entry", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-faucet = { path = "../faucet", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-feature-gate-interface = "3.0.0"
trezoa-fee-calculator = "3.0.0"
trezoa-genesis = { path = "../genesis", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-genesis-config = "3.0.0"
trezoa-genesis-utils = { path = "../genesis-utils", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-geyser-plugin-manager = { path = "../geyser-plugin-manager", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-gossip = { path = "../gossip", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-hash = "3.1.0"
trezoa-inflation = "3.0.0"
trezoa-instruction = "3.1.0"
trezoa-keypair = "3.0.1"
trezoa-ledger = { path = "../ledger", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-loader-v3-interface = "6.1.0"
trezoa-local-cluster = { path = "../local-cluster", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-measure = { path = "../measure", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-message = "3.0.1"
trezoa-metrics = { path = "../metrics", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-native-token = "3.0.0"
trezoa-net-utils = { path = "../net-utils", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-nonce = "3.0.0"
trezoa-perf = { path = "../perf", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-poh = { path = "../poh", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-program-runtime = { path = "../program-runtime", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-pubkey = { version = "4.0.0", default-features = false }
trezoa-quic-client = { path = "../quic-client", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-rent = "3.0.0"
trezoa-rpc = { path = "../rpc", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-rpc-client = { path = "../rpc-client", version = "=4.0.0-alpha.0", default-features = false }
trezoa-rpc-client-api = { path = "../rpc-client-api", version = "=4.0.0-alpha.0" }
trezoa-rpc-client-nonce-utils = { path = "../rpc-client-nonce-utils", version = "=4.0.0-alpha.0" }
trezoa-runtime = { path = "../runtime", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-runtime-transaction = { path = "../runtime-transaction", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-sbpf = { version = "=0.13.1", default-features = false }
trezoa-sdk-ids = "3.1.0"
trezoa-shred-version = "3.0.0"
trezoa-signature = { version = "3.1.0", default-features = false }
trezoa-signer = "3.0.0"
trezoa-stake-interface = "2.0.2"
trezoa-storage-bigtable = { path = "../storage-bigtable", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-streamer = { path = "../streamer", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-svm-callback = { path = "../svm-callback", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-svm-feature-set = { path = "../svm-feature-set", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-svm-log-collector = { path = "../svm-log-collector", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-svm-type-overrides = { path = "../svm-type-overrides", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-system-interface = "2.0"
trezoa-system-transaction = "3.0.0"
trezoa-test-validator = { path = "../test-validator", version = "=4.0.0-alpha.0" }
trezoa-time-utils = "3.0.0"
trezoa-tps-client = { path = "../tps-client", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-tpu-client = { path = "../tpu-client", version = "=4.0.0-alpha.0", default-features = false, features = ["trezoa-unstable-api"] }
trezoa-transaction = "3.0.2"
trezoa-transaction-context = { path = "../transaction-context", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api", "bincode"] }
trezoa-transaction-status = { path = "../transaction-status", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-unified-scheduler-pool = { path = "../unified-scheduler-pool", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-version = { path = "../version", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-vote = { path = "../vote", version = "=4.0.0-alpha.0", features = ["trezoa-unstable-api"] }
trezoa-vote-program = { path = "../programs/vote", version = "=4.0.0-alpha.0", default-features = false, features = ["trezoa-unstable-api"] }
tempfile = "3.23.0"
thiserror = "2.0.17"
tokio = "1.48.0"

[profile.release-with-debug]
inherits = "release"
debug = true
strip = false
split-debuginfo = "off"

[profile.release]
split-debuginfo = "unpacked"
lto = "thin"

[profile.release-with-lto]
inherits = "release"
lto = "fat"
codegen-units = 1

# curve25519-dalek uses the simd backend by default in v4 if possible,
# which has very slow performance on some platforms with opt-level 0,
# which is the default for dev and test builds.
# This slowdown causes certain interactions in the trezoa-test-validator,
# such as verifying ZK proofs in transactions, to take much more than 400ms,
# creating problems in the testing environment.
# To enable better performance in trezoa-test-validator during tests and dev builds,
# we override the opt-level to 3 for the crate.
[profile.dev.package.curve25519-dalek]
opt-level = 3
