[package]
name = "trezoa-unified-scheduler-logic"
description = "The Trezoa unified scheduler logic"
documentation = "https://docs.rs/trezoa-unified-scheduler-logic"
version = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
edition = { workspace = true }
