[package]
name = "trezoa-install"
description = "The trezoa cluster software installer"
documentation = "https://docs.rs/trezoa-install"
version = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
edition = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[features]
trezoa-unstable-api = []

[dependencies]
trezoa-logger = { workspace = true }
atty = { workspace = true }
bincode = { workspace = true }
bzip2 = { workspace = true }
chrono = { workspace = true, features = ["default", "serde"] }
clap = { workspace = true }
console = { workspace = true }
crossbeam-channel = { workspace = true }
ctrlc = { workspace = true, features = ["termination"] }
dirs-next = { workspace = true }
indicatif = { workspace = true }
nix = { workspace = true, features = ["signal"] }
reqwest = { workspace = true, features = ["blocking", "brotli", "deflate", "gzip", "rustls-tls", "json"] }
scopeguard = { workspace = true }
semver = { workspace = true }
serde = { workspace = true }
serde_yaml = { workspace = true }
serde_yaml_08 = { package = "serde_yaml", version = "0.8.26" }
trezoa-clap-utils = { workspace = true }
trezoa-config-interface = { version = "=2.0.0", features = ["bincode"] }
trezoa-hash = "=3.1.0"
trezoa-keypair = "=3.1.0"
trezoa-message = "=3.0.1"
trezoa-pubkey = { version = "=4.0.0", default-features = false }
trezoa-rpc-client = { workspace = true }
trezoa-sha256-hasher = { workspace = true }
trezoa-signature = { version = "=3.1.0", default-features = false }
trezoa-signer = "=3.0.0"
trezoa-transaction = "=3.0.2"
trezoa-version = { workspace = true }
tar = { workspace = true }
tempfile = { workspace = true }
url = { workspace = true }

[target."cfg(windows)".dependencies]
winapi = { workspace = true, features = ["minwindef", "winuser"] }
winreg = { workspace = true }
