name: Downstream Trezoa - TPL (Nightly)

on:
  schedule:
    - cron: "0 3 * * *"

jobs:
  main:
    if: github.repository == 'trezoa-xyz/trezoa'
    strategy:
      fail-fast: false
      matrix:
        branch:
          - master
    uses: ./.github/workflows/downstream-trezoa-tpl.yml
    with:
      branch: ${{ matrix.branch }}

  error_reporting:
    needs:
      - main
    if: failure()
    uses: ./.github/workflows/error-reporting.yml
    secrets:
      WEBHOOK: ${{ secrets.SLACK_ERROR_REPORTING_WEBHOOK }}
